<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io('http://localhost:3000');
    socket.on('eventName', function (data) {
        console.log(data);
        socket.emit('my-second-event', { my: 'data' });
    });
</script>